/* RESET CSS STARTS HERE */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


/* RESET CSS ENDS */


/* GENERAL RULES START HERE */

.page-container {
    width: 100%;
    background-size: cover;
}

body {
    font-family: 'Sanomat Grab Web Regular', sans-serif;
    font-weight: 500;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    color: #333;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 23px;
    font-family: 'Sanomat Grab Web bold', sans-serif !important;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: #CBEED8;
}

img {
    border-radius: 6px;
}

.navbar a {
    color: rgba(0, 0, 0, 0.9);
    font-size: 18.4px;
    line-height: 30px;
}

.navbar a:hover,
a:focus {
    color: #00B13F;
    text-decoration: none;
}

.navbar-header {
    padding-top: 7px;
    width: 150px;
    height: inherit;
}

.navbar-brand {
    display: block;
    padding-bottom: .3rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    background-image: url(../img/Grab_logo.png);
    width: 70%;
}

.text-hide {
    color: transparent !important;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.bg-size-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

header {
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    padding: 0px 18px;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    border-bottom: 1px solid lightgrey;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    padding-bottom: 15px;
}

.navbar a {
    font-weight: 600;
}

#nav-main {
    padding-top: 8px;
    order: 2;
    max-width: 450px;
    width: 100%;
    height: 60px;
    margin-right: 220px;
}

#nav-main img {
    margin-right: 5px;
}

#nav-main li {
    height: inherit;
}

#nav-right {
    height: 61px;
    order: 4;
    max-width: 300px;
    width: 100%;
}

#nav-drive {
    margin-top: 5px;
    order: 3;
    max-width: 220px;
    width: 100%;
}

#nav-drive,
#nav-main,
#nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.grabpay-logo {
    background-image: url(../img/grabpay_topnav.png);
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100px;
    height: 58px;
    display: block;
    order: 1;
}

.grabpay-logo:hover {
    background-image: url(../img/grabpay_topnav_active.png);
}

.pt-20 {
    padding-top: 15px;
}

.mb-1 {
    margin-bottom: 10px;
}

arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    margin-left: 6px;
    margin-bottom: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition-duration: .3s;
    -webkit-transition: .3s;
}

.dropdown-content {
    border-top: solid 1px lightgrey;
    background-color: white;
    width: 1600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    color: white;
    position: absolute;
    left: -280px;
    top: -220px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.dropdown-content li {
    margin-top: 20px;
    margin-bottom: 100px;
    align-items: center;
}

.dropdown-content li a {
    font-weight: 100;
    height: 30px;
}

#nav-main li:hover>.dropbtn arrow {
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    margin-bottom: -3px;
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
}

#lang-nav:hover>arrow {
    transform: rotate(225deg);
    margin-bottom: -3px;
}

.dropdown-content-small {
    width: 120px;
    height: 45px;
    display: none;
    position: absolute;
    right: 48px;
    top: 70px;
    border: .5px solid lightgrey;
    border-radius: 2px;
    padding: 8px;
    padding-left: 16px;
    text-align: center;
    background-color: #fff;
    z-index: 995;
}

#lang-nav:hover>.dropdown-content-small {
    display: flex;
}

#nav-main li:hover>.dropdown-content {
    top: 60px;
}

#nav-main li:hover>#drop-1 {
    left: -390px;
}

#nav-main li:hover>#drop-2 {
    left: -505px;
    justify-content: center;
}

.corporate li {
    width: 200px;
    text-align: center;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.services li {
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    border-right: 1px solid lightgrey;
}

.country li {
    height: inherit;
    width: 200px;
    display: flex;
    width: 130px;
    padding-right: 60px;
    margin-left: 55px;
    border-right: 1px solid lightgrey;
}

.country-parent {
    display: inline-flex;
    justify-content: space-around;
}

.flag-icon {
    width: 30px;
    height: 30px;
    z-index: 5;
}

.no-border-right {
    border-right: 0px solid white !important;
    ;
}

.service-icon {
    width: 30px;
    height: 30px;
}

#lang-nav {
    padding-left: 15px;
    border-left: 1px solid lightgrey;
}

#nav-right li {
    height: inherit;
    padding-top: 18px;
}

.border-left {
    border-left: 1px solid lightgrey;
}

.green-arrow {
    border-color: #00B041;
}

#nav-drive li {
    display: block;
    border: 2px solid #00B041;
    padding: 8px 18px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

#nav-drive li a {
    color: #00B041;
}


/* End styling nav */


/* Styling hero banner */

#hero-banner {
    position: relative;
    height: 531.3px;
    margin: 0 auto;
    margin-top: 60px;
}

#bg-hero-1 {
    background-image: url(../img/01_hero_banner.jpg);
    height: 531.3px;
}

#bg-hero-2 {
    background-image: url(../img/02_hero_banner.jpg);
    height: 531.3px;
}

#bg-hero-3 {
    background-image: url(../img/driver.jpg);
    height: 531.3px;
}

.carousel-caption {
    width: 535px;
    height: 340px;
    text-align: left;
    display: block;
    float: left;
    position: relative;
    left: 240px;
    top: 140px;
}

.carousel-caption h1 {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 3.1em;
    line-height: 1;
}

.carousel-caption p {
    text-shadow: none;
    font-size: 1.15em;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 30px;
}

.carousel-caption a {
    margin-top: 20px;
}

.btn-green {
    background: #00b13f;
    color: #fff;
}

.carousel-caption a:hover {
    color: white !important;
}

#download {
    position: relative;
    background-image: url(../img/dg-dl-grab-back.jpg);
    height: 457px;
    color: white;
}

#download .container {
    width: 1400px;
    position: relative;
    height: 300px;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#download .download-info {
    width: 550px;
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dl-qr-code {
    width: 202px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.img-qr-code {
    margin-top: 25px;
    width: 120px;
    height: 120px;
}

.dl-stores {
    width: 202px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.dl-stores img {
    width: 148px;
    height: 51.2px;
    border: 1px solid white;
    border-radius: 5px;
}

#download h1 {
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: 900;
    font-size: 3.1em;
    line-height: 1;
}

.line-1 {
    width: 1px;
    height: 60px;
    border-right: 1px solid white;
    position: absolute;
    left: 760px;
    top: 185px;
}

.line-2 {
    width: 1px;
    height: 60px;
    border-right: 1px solid white;
    position: absolute;
    left: 760px;
    top: 300px;
}

.circle-or {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 255px;
    left: 743px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    color: black;
    padding-top: 5px;
}

footer {
    margin: 0px !important;
    background-color: #363A45;
    height: 85px;
    width: 100%;
}

.row {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.copyright-logo,
.policy-list,
.download-icon {
    width: 33.3%;
}

.copyright-logo {
    justify-content: center;
    align-self: center;
}

.policy-list a {
    margin-right: 10px;
    color: white;
}

.copyright-logo p {
    font-style: normal;
    font-stretch: normal;
    font-size: 1.143em;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.5;
    text-align: center;
}

.download-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.download-icon img {
    width: 134px;
    height: 40px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-left: 10px;
}

#site-map {
    height: 596px;
    background-color: #00B043;
    padding: 40px 0;
    color: #fff;
}

#site-map .container {
    width: 100%;
    max-width: 1400px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#social {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: inherit;
}

#social-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

hr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: inherit;
}

.social-icon {
    padding-top: 2.5px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    outline: none;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.top-sitemap,
.ministry-icon {
    width: 100%;
    display: flex;
}

.ministry-icon {
    height: 83px;
    flex-direction: row;
    justify-content: flex-end;
}

.ministry-icon a {
    margin-top: 25px;
    margin-right: 70px;
}

.top-sitemap {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.address {
    max-width: 30%;
}

.sub-menu {
    max-width: 80%;
    display: fl
}

.footer-logo img {
    width: 89px;
    height: auto;
}

.address p {
    font-size: 1.215em;
}

.sub-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.sub-company,
.sub-services,
.sub-corporate,
.sub-ride {
    max-width: 25%;
    width: 220px;
    margin-top: 15px;
}

.sub-menu a {
    color: white;
    font-size: 18px;
}

.sub-menu li {
    margin-top: 10px;
}

#latest-news {
    width: inherit;
    height: 934.40px;
    padding: 50px;
}

#latest-news .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#latest-news h1 {
    display: block;
    font-weight: 900;
    font-size: 2.571em;
    color: #00BA51;
    text-align: center;
    margin-bottom: 23px;
}

#latest-news p {
    display: block;
    font-weight: 500;
    font-size: 18px;
    color: #464B57;
    margin-bottom: 23px;
    font-weight: 600;
}

#latest-news a {
    background-color: #2196F3;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 50px;
}

#latest-news a:hover {
    background-color: #64B5F6;
    border-color: #64B5F6;
}

.view-btn {
    margin-top: 23px;
}

.news-container {
    display: grid;
    width: 1400px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-auto-rows: minmax(340px, auto);
}

.news-container > div {
    background-color: rgba(233, 171, 88, .5);
    color: #d9480f;
}

.box1 {
    grid-column: 1 / 3;
    grid-row: 1;
    background-image: url(../img/shutterstock_1110188894_resize.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.box2 {
    grid-column: 3/4;
    grid-row: 1;
    background-image: url(../img/image004.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.box3 {
    grid-column: 1/2;
    grid-row: 2;
    background-image: url(../img/Business.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.box4 {
    grid-column: 2/3;
    grid-row: 2;
    background-image: url(../img/shutterstock_1110188894_resize.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.box5 {
    grid-column: 3/4;
    grid-row: 2;
    background-image: url(../img/90days_Blog_1920x675-01-1-1.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.news-textbox {
    background-color: rgba(0, 0, 0, .7);
    padding: 20px;
    max-height: 90px;
    width: 100%;
    color: white;
    font-weight: 100;
}

.abittaller {
    max-height: 105px;
}

.news-textbox p {
    font-size: 16px !important;
    color: #fff !important;
}

#ride-guide {
    width: 100%;
    background-color: #009C3D;
    height: 393px;
}

#ride-guide .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

#ride-guide h1 {
    color: white;
    font-size: 40px;
    line-height: 1;
    text-align: center;
    margin-bottom: 40px;
}

#ride-guide a {
    color: #00b040;
    background-color: #fff;
    box-shadow: none;
    padding: 16px 20px 15px;
    font-size: 1.35em;
    line-height: 1;
}

#ride-guide a:hover {
    text-decoration: none;
}

#carousel-tooltip .header {
    position: absolute;
    top: 1870px;
    left: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 600;
}

#carousel-tooltip .header h1 {
    font-size: 2.571em;
    line-height: 0.6 !important;
    margin-bottom: 20px;
}

#carousel-tooltip .header p {
    word-spacing: 2px;
    letter-spacing: 0.03rem;
}

.carousel-tooltip-indicators {
    position: absolute;
    right: 0;
    bottom: 35px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: space-around;
    padding-left: 0;
    margin-right: 38%;
    margin-left: 38%;
}

.carousel-tooltip-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.carousel-tooltip-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-tooltip-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-tooltip-indicators li:hover {
    background-color: #00b040;
    transition: al .3s;
}

.carousel-tooltip-indicators img {
    height: 30px;
    width: 30px;
    z-index: 99;
}

#bg-tooltip-1 {
    background-image: url(../img/taxi-2-2.jpg);
    height: 551px;
}

#bg-tooltip-2 {
    background-image: url(../img/car-2-2.jpg);
    height: 551px;
}

#bg-tooltip-3 {
    background-image: url(../img/bike-2-2.jpg);
    height: 551px;
}

#bg-tooltip-4 {
    background-image: url(../img/express-2-2.jpg);
    height: 551px;
}

.carousel-inner h3,
p {
    color: white;
    margin-bottom: 10px;
}

.caption-01 {
    width: 400px;
    height: 200px;
    position: relative;
    top: 230px;
    left: 560px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: .4em;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.caption-01:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.7);
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}

.text-info {
    max-width: 70%;
    margin-right: 20px;
    padding-top: 20px;
}

.the-arrow {
    background-color: rgba(0, 0, 0, 0.9);
    max-width: 100%;
    width: 90px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

rightarrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    margin-left: 6px;
    margin-bottom: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    cursor: pointer;
}

.caption-02 {
    width: 400px;
    height: 200px;
    position: relative;
    top: 230px;
    left: 560px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: .4em;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.caption-02:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 38%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.7);
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}

.caption-03 {
    width: 400px;
    height: 200px;
    position: relative;
    top: 230px;
    left: 560px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: .4em;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.caption-03:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 61%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.7);
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}

.caption-04 {
    width: 400px;
    height: 200px;
    position: relative;
    top: 230px;
    left: 560px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: .4em;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.caption-04:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 84%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.7);
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}

#how-it-works {
    margin-top: 60px;
    height: 736.40px;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
}

#how-it-works .container {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    padding: 0 auto;
    position: relative;
}

.p-text {
    font-size: 1.143em;
    color: #464B57;
}

.instruction {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.phone-img {
    height: 630px;
    width: 560px;
    overflow: hidden;
}

.phone-img img {
    width: 80%;
    float: right;
}

#empty-screen {
    z-index: 4;
    overflow: hidden;
    position: relative;
}

#map-screen {
    position: absolute;
    width: 20.3%;
    top: 179px;
    left: 250px;
    z-index: 1;
}

.txt-instruction {
    padding-top: 20px;
    height: 630px;
    width: 560px;
}

.txt-instruction p {
    color: black;
}

.txt-instruction li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 60px;
}

.txt-instruction li h4 {
    font-size: 18px;
    font-weight: bolder;
}

.txt-instruction li p {
    font-size: 18px;
}

.flex-column {
    padding-left: 20px;
    max-width: 450px;
}

.txt-instruction li number {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #00B855;
    padding-top: 4px;
    padding-left: 10px;
}

/* GENERAL RULES END HERE */